.body{

color: grey;
font-family:arial;


}


.nav{

  height: 50px;
  background-color:#dd9f33;


}

.header-cont{
	width: 1200px;
  margin: 0 auto;


}

.header-cont img{
	float: left;
	margin-top: 11px;

}
.header-cont ul{

  float: right;

}


.header-cont ul li{
float: left;
list-style:none;

}



.header-cont ul li a{
  padding-left: 20px;
  text-transform: uppercase;
  color: black;
  text-decoration:none;
  font-weight: bold;
  font-size: 13px;
}



.content{
  width: 1080px;
  background-color: linen;
  margin: 0 auto;
  min-height: 500px;
  padding: 60px;
  overflow: auto;

}


.content .son{
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
}


.content h1{
  margin: 0 0 14px 0;
  padding: 0;
}


.content h4{
  margin: 0 0 20px 0;
  padding: 0;
  color: #505050;
}

.content p{
  font-size: 13px;
  line-height: 1.5em;
}

.content .thumbs{
  float: left;
  width: 332px;
}
.content .thumb1{
  padding-right: 40px;
}

.content .thumb2{
  padding-right: 40px

}

footer{
  font-size: 12px;
  text-align: center;
  color: #444;
  padding-top: 20px;
  padding-bottom: 100px;
}









